@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


body {
    margin: 0px;
    padding: 0px;
}

.main {
    /* height: 3300px; */
    /* border: 3px solid black; */
    margin:30px;
    /* padding:20px; */
}

.head-bar{
    justify-content: space-between; 
    /* width: 100vw; */
    /* padding:5px 3px 5px 3px; */
    height: 55px;
    align-items: center;
    margin-top:2px;
    display: flex;
    /* border: 2px solid black; */
}
.line{
    width:100%;
    height:1px;
    border-bottom:1px solid black;;
}
.head-bar-left{
    font-weight: bold;
    padding:20px;
    font-size:42px;
    font-family:Bebas Neue;
    transition:all 0.2s;
}

.head-bar-left:hover{
    scale:1.2;
}

.head-bar-right{
    font-weight: bold;
    display: flex;
    font-size: 20px;
    /* gap:1px; */
    justify-content:space-evenly;
    align-content: center;
    padding:40px;
    gap:20px;
    /* font-family:; */
}
.head-bar-right1 p{
    /* border:1px solid black; */
    /* height:62px; */
    /* width:130px; */
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0px;
    border-radius:3px;
}


.head-bar-right1 {
    color: black;
    transition:all 0.2s;
}
.head-bar-right1:hover{
    scale: 1.3;
}


.explore-text{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:bold;
    text-align: center;
    margin:50px;
    /* width:900px; */
    font-size:70px;
    /* border:2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.explore-text > p:hover{
    color:rgb(17, 100, 152);
    
}

img{
    width:95%;
}

.img{
    margin-bottom:120px;
}

p{
    margin:0px;
}
.imgs{
    /* height:1000px; */
    margin-top:25px;
    width:100%;
    /* border:2px solid black; */
    display: grid;
    gap:15px;
    justify-content: space-evenly;
    font-size:20px;
    padding-left:10px;
    /* margin-bottom:250px; */
    /* border-radius: 2px; */
    grid-template-columns: repeat(3,1fr);
}
.img-container{
    /* border-radius:3px; */
    padding:0px;
    margin:0px;
    transition:0.2s;
}

.img-container:hover{
    scale:1.06;
}

.img-container p{
    font-family: monospace;
}

.msg-box{
    width:100%;
    height:100%;
    /* border:2px solid rgb(255, 255, 255); */
}
.msg{
    width:45%;
    height:200px;
    margin-top:120px;
    /* border:2px solid black; */
    line-height: 40px;
    font-family: Bebas Neue;
    font-size:30px;
    font-weight: bold;
}

.contact-box{
    /* border:2px solid black; */
    width:100%;
    height:280px;
    display: flex;
    justify-content: space-between;
}

.cont-left{
    /* width:200px; */
    height:35px;
    /* margin-top:15px; */
    font-weight: bold;
    font-size:30px;
    /* margin-left:15px; */
    /* border:2px solid black; */
    font-family:Bebas Neue;
    font-weight: bold;

    /* font-size:x-large; */
}
.cont-left:hover{
    cursor: pointer;
    color:darkgoldenrod;
}


.cont-right{
    /* border:2px solid black; */
    height:220px;
    /* margin-right: 50px; */
    /* margin-right:20px; */
    display:flex;
    /* justify-content: center; */
    /* align-items: center; */
    gap:90px;
    padding:10px;
}

.cont-right-1{
    /* width:250px; */
    height:200px;
    /* border:2px solid black; */
    font-family: Roboto Mono;

    font-size:22px;
}
.cont-right-1 p:hover{
    color:darkgoldenrod;
    cursor: pointer;

}
.cont-right-2{
    /* width:250px; */
    height:200px;
    /* border:2px solid black; */
    font-family: Roboto Mono;
    font-size:22px;
}
.cont-right-2 p:hover{
    color:darkgoldenrod;
    cursor: pointer;

}

.cont-right-3{
    /* width:250px; */
    height:200px;
    /* border:2px solid black; */
    font-family: Roboto Mono;
    font-size:22px;
}
.cont-right-3 p:hover{
    color:darkgoldenrod;
    cursor: pointer;

}


.down-main{
    /* border:2px solid black; */
    width:100%;
    height:400px;
    display: grid;
    justify-content: center;
}
.down{
    /* border:2px solid black; */
    width:600px;
    height:350px;
    display:grid;
    grid-template-rows: repeat(4,1fr);
}

.down-1{
    /* border:2px solid black; */
    height:60px;
    font-size:50px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.down-2{
    /* border:2px solid black; */
    height:30px;
    font-size:20px;
    font-family:monospace;
    margin-top: 20px;
    text-align: center;
}

.down-3{
    /* border:2px solid black; */
    height:80px;
    display: flex;
    margin-bottom:34px;
    justify-content:space-evenly;
}
.form {
    display: flex;
    width: 100%;
    /* width: 600px; */
    gap: 12px;
    justify-content: center;
  }
  .vinput {
    border-radius: 8px;
    width: 56px;
    height: 64px;
    border: 2px solid black;
    color:black;
    font-size: 25px;
    text-align: center;
  }

.down-4{
    /* border:2px solid black; */
    height:60px;
    display: grid;
    justify-content: center;
    align-items: center;
    /* border-radius: 5px; */

}

.down-5{
    /* border:2px solid black; */
    height:32px;
    display: grid;
    font-size: 20px;
    margin-top:25px;
    font-family: Roboto Mono;
    justify-content: center;
}
.down-5 p:hover{
    cursor: pointer;
    color:rgb(17, 100, 152);
}

.boxes{
    border:2px solid black;
    width:70px;
    height:70px;
    border-radius:5px;
    display: grid;
    justify-content: center;
    align-items: center;
}


.contact{
    width:140px;
    /* width:100%; */
    height:40px; 
    font-family: Roboto Mono;
    background-color: transparent;
    /* background-color: black; */
    padding:10px 35px;
    border-radius: 8px;
    border:1px solid black;
    font-size: 15px;
}
.btn{

        font-family: Roboto Mono;
        color:white;
        background-color: black;
        padding:15px 180px;
        border-radius: 15px;
        font-size: 20px;
    }

input[type="submit"]:hover{
    cursor: pointer;
}

.last{
    width:100%;
    height:90px;
    /* border:2px solid rgb(255, 0, 0); */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content:space-between;
    font-family:Bebas Neue;

}
.last-left{
    font-size: 30px;
    padding-left:20px;
    border:2x solid black;
}

.last-right{
    /* border: 2px solid black; */
    height:100%;
    display: flex;
    margin-left:630px;
}

.button{
    width:150px;
    height:40px;
    margin:0px 15px 0px 0px;
    border-radius: 5px;
    border-style: none;
    background-color: transparent;
    border:1px solid black;
}

input[type="button"]:hover{
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    body {
    background-color:white;
    }
    .main{
        margin:10px;
        margin-top:300px;
        /* border: 2px solid white; */
    }

    .head-bar{
        align-items: start;
        flex-direction: column;
        width:100vw;
    }
    .head-bar-left {
        width: 90vw;
        text-align: center;
        background-color: white;
        font-size: 30px;
    }
    .head-bar-right{
        justify-content: left;
        padding: 20px;
        flex-direction: column;
        
    }
    .explore img{
        width:85%;
    }

    .explore-text p{
        font-size:50px;
    }

.imgs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-evenly;
}

.contact-box{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    /* border:2px solid white; */
    height:40px;
}


.msg{
    /* border:2px solid white; */
    width:100%;
    padding:0px 5px;
}

.img{
    grid-gap:20px;
    padding:0px;
    margin:0px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
}

.msg-box{
    margin-bottom:100px;
}
.cont-right{
    grid-gap:40px;
    margin:0px;
    padding-top:50px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    /* border: 2px solid white; */
}

.cont-right-1{
    /* border: 2px solid white; */
    height:100%;

}

.cont-right-2{
    /* border: 2px solid white; */
    height:100%;

    
}

.cont-right-3{
    /* border: 2px solid white; */
    height:100%;
}
.vinput{
    width: 40px;
    height: 40px;
    font-size: 20px;
}
.down-1{
    font-size: 24px;
    width:100vw;
    /* border:2px solid black; */
    height:5vh;
    
}

.down-1 p{
    margin:0px;
    padding:0px;
    font-size:50px;
}
.down-2 {
    text-align: center;
    font-size: 15px;
    width:70vw;
    padding:0px 50px;
    margin:0px;
    
    /* border:2px solid black; */
}

.down-2 p{
    margin:0px;
    padding:0px;
}

.down-3{
    /* box-sizing: 2000px; */
    width:100vw;
    height:50px;
    
    /* border:2px solid black; */
    margin-bottom:70px;
}

.down-4{
width:88vw;
/* border:2px solid black; */
margin-top:-55px;
padding:0px 20px;

}

.down-5 {
    margin:1px;
    

}


.down{
    /* border:2px solid black; */
    width:100vw;
}

.btn{
    padding:10px 100px;
    
}


.down-main{
    margin-top:450px;
    border:2px solid white;
    height:55vh;
    padding:1px;
    /* width:100vw; */
}

.last{
    width:100vw;
    /* border:2px solid blue; */
}

.last-left{
    padding-left:5px;
}

.button{
    margin-right:2px;
}

.last-left p{
    font-size:20px;
}

.last-right{
    margin-left:0px;
}

input[type="button"]{
    margin-left:30px;
}

}



@media only screen and (min-width:600px) and (max-width:1024px){


    .head-bar-left > p{
        font-size:20px;
    }
    .down-2{
        margin-left:40px;
    }
    
    input[type="button"]{
        margin-left:140px;
    }
    
    .msg p{
        font-size:40px;
    }
    
    .down-main{
        /* border:2px solid black; */
        height:420px;
    }
    
    .last-right > p{
        font-size:30px;
    }
    
    
    
    
    }