@media only screen and (min-width:600px) and (max-width:1024px){

/* .head-bar-left{
    padding:0px;
} */

.head-bar-left > p{
    font-size:20px;
}
.down-2{
    margin-left:40px;
}

input[type="button"]{
    margin-left:140px;
}

.msg p{
    font-size:40px;
}

.down-main{
    /* border:2px solid black; */
    height:420px;
}

.last-right > p{
    font-size:30px;
}




}